 BODY { background: #621f07; margin: 0; }
   .layout { width: 970px; margin: 0 auto 10px; background: #f9dda6; }
   .content { margin-right: 350px; padding: 10px; }
   .sidebar { width: 320px; float: right; background: #ebaf5b; }
   .footer {
    clear: both; /* Отмена обтекания */
    border-top: 1px solid #621212; padding: 10px;
   }
   